body ::after {
    content: "";
    background: url(images/utility\ 2.avif);
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

ul {
    list-style-type: none;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
}

li>a {
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    padding: 13px 40px;
    float: left;
}

li a.active {
    background-color: green;
    color: white;
}

li a:hover{
    background-color: rgb(66, 58, 58);
    color: gainsboro;
}

body {
    margin: 0;
}

div {
    margin-top: 200px;
    margin-left: 50px;
}

div.gah {
    margin-top: 30px;
}

#red {
    color: rgb(51, 41, 41);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 2px;
}

.intro {
    position: absolute;
    top: -120px;
    left: 0px;
    color: #000000;
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 3px dotted red;
    border-right: 3px dotted red;
    padding: 5px;
}

.Author {
    color: rgb(255, 255, 255);
}